# Environment
ENVIRONMENT=local

# Postgres Database Settings
POSTGRES__HOST=db
POSTGRES__USER=fastapi
POSTGRES__PASSWORD=fastapi
POSTGRES__DB=fastapi
POSTGRES__PORT=5432

# Redis Cache Settings
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0

# JWT Settings
JWT_SECRET_KEY=your_secret_key
